


@media screen and (max-width:768px){

.card-container{
    
    display: grid;
   grid-template-columns: repeat(1, 1fr);
    gap: 20px;

}

.zaboo{
    grid-row: auto;
    grid-column: auto;
}
.card{
    height: 206px;
}
.section-5 form{
width: 90%;
}
.section-5 h1{
    font-size: 30px;
    width: 80%;
   
  
}

}